/* .Alert {
    color: #2b9cee;
    background-color: #ebf5fb;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0.1rem 2rem 0.1rem 2rem;
} */

.Alert-success {
    color: #48c774;
    background-color: #effaf2;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0.1rem 2rem 0.1rem 2rem;
}

.Alert-danger {
    color: #f53761;
    background-color: #fef5f7;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0.1rem 2rem 0.1rem 2rem;
}