.Login {
    margin-top: 3.5rem;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form {
    width: 40%;
    display: block;
    border: 1px lightgray solid;
    align-self: center;
    text-align: left;
    margin-top: 0rem !important;
    padding: 1.5rem;
    background-color: white;
    border-radius: 5px;
}

.Login label {
    flex-direction: start;
    font-weight: bold;
}

div.Login-buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    width: 44%;
}

.Login input {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0 18px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Login button[type=submit] {
    width: 6rem;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.Login button[type=submit]:hover {
    background-color: #1262cc;
}

button:hover {
    background-color: #1262cc;
}

.Login-loginBtn {
    color: white;
    width: 5rem;
    border: none;
    padding: 7px 2px;
    background-color: #007bff;
    font-size: 20px;
    border-top-left-radius: 4px;
    cursor: pointer;
}

.Login-signUpBtn {
    color: white;
    width: 6rem;
    border: none;
    padding: 7px 10px;
    background-color: #007bff;
    font-size: 20px;
    border-top-right-radius: 4px;
    cursor: pointer;
}

.Login-tabBtnActive {
    background-color: #1262cc;
}

.Login-loginBtn:active, .Login-signUpBtn:active {
    background-color: #1262cc;
}